apiVersion: v1
kind: Service
metadata:
  name: {{APP_NAME}}
  namespace: {{NAMESPACE}}
  labels:
    app: {{APP_NAME}}
    framework: nextjs
  annotations:
    service.beta.kubernetes.io/aws-load-balancer-type: "nlb"  # For AWS
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 3000
    protocol: TCP
    name: http
  selector:
    app: {{APP_NAME}}
  sessionAffinity: ClientIP  # Sticky sessions for SSR
  sessionAffinityConfig:
    clientIP:
      timeoutSeconds: 10800  # 3 hours
